.edit-form{
  .cotent-title-text, .cotent-title{
    height: 39px;
    line-height: 39px;
  }
  .cotent-title{
    text-align: right;
    // width: 100px;
  }
  .btn-box{
    margin-top: 50px;
  }
  .line{
    margin-bottom: 30px;
  }
  .bsInfos-label{
    width: 107px;
  }
  .ant-form-item-label{
    width: 107px;
  }
  .profit-level{
    .ant-form-item-label{
      width: 130px;
    }
  }
  .edit-infos-btn{
    width: 100px;
    margin-top: 30px;
  }
}