.box{
  // padding: 10px 0 20px;
  // border-bottom: 1px solid #f2f2f2;
  // border-top: 1px solid #f2f2f2;
  .title{
    margin: 13px 0;
    font-size: 17px;
    .value{
      font-size: 14px;
    }
  }
}
