
.first-card{
  .ant-card-head-wrapper{
    border-bottom: none;
  }
}

.card-line{
  // display: flex;
  .card-content{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}
.card-row{
  height: 240px;
  p{
    color: #ccc;
    text-align: center;
    // margin-top: 20px;
  }
}
.card-column{
  height: 350px;
}
.row-gutter{
  margin-top: 20px;
}
.charts-box{
  // padding-top: 30px;
  // background-color: #fff;
}

.charts-items{
  background-color: #fff;
  padding: 25px 25px 0;
  border-radius: 5px;
  
}
.card-row, .card-row, .card-line{
  border-radius: 5px;
}
.module-gutter{
  margin-top: 15px;
}
.card-content-margin{
  // margin: 20px 0 0px;
}
.notice-box{
  background: #fff;
  // width: 100%;
  padding: 7px 30px;
  margin-bottom: 20px;
  .notice-content-box{
    display: flex;
    .marquee{
      width: 800px;
      animation: marquee 6s linear 0s infinite;
    }

    @keyframes marquee {
      0% {
        transform: translateX(70%)
      }

      100% {
        transform: translateX(0px)
      }
    }
    .notice{
      margin-right: 20px;
      color: #888;
    }
  }
}

.yesterday-message{
  margin-top: 10px;
  color: #ccc;
  font-weight: 400;
}
.to-yesterday{
  float: left;
  color: #ccc;
  font-size: 12px;
}
html{
  .app{
    .body{
      &>.home-page{
        display: block;
        .index-btn-box{
          margin-top: 30px;
        }
        .explain-left{
          .ant-card-head-title{
            flex: none;
            overflow: auto;
            color: #333;
            font-weight: 600;
          }
          .ant-card-extra{
            margin-left: 10px;
            margin-top: 6px;
          }
        }
      }
      .ant-card-head-title{
        font-size: 18px;
      }
    }
  }
}
.no-data{
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
  color: #f2f2f2;
  // box-shadow: 0px 0px 5px #f2f2f2;
}
.react_for_echarts{
  background-color: #fff;
}
.ant-card-body{
  padding: 20px 24px;
}
// .marquee {
// 　　white-space:
// 　　overflow:-webkit-marquee;　　/* 只有设置为marquee才有滚动效果 */
// 　　width: 170px;　　/* 不是必须的 */
// 　　-webkit-marquee-direction:left;　　/* 文字滚动方向 可选值为left | right | up | down */
// 　　-webkit-marquee-speed:normal;　　/* 文字滚动速度 可选值为slow | normal | fast */
// 　　-webkit-marquee-style:scroll;　　/* 文字滚动方式 可选值为scroll | slide | alternate */
// 　　-webkit-marquee-repetition:1; 　　/* 文字滚动次数 number | infinite ， infinite即无限次循环滚动 */
// }