.item {
  p {
    color: #4a4a4a;
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
    line-height: 25px;
    width: 90px;
    text-align: end;
  }
  input {
    margin-left: 11px;
  }
  margin: 15px 0;
  display: inline-flex;
  align-items: baseline;
}