.detail {
  .detailHead {
    margin: 10px 0 10px 20px;
    font-size: 26px;
    color: #4a4a4a;
  }
  &>p {
    margin-left: 20px;
  }
  &>form {
    margin-left: 20px;
  }
  .producttable {
    margin: 0 20px;
  }
}