@import '~antd/dist/antd.css';

.splash {
  width: 100%;
  height: 100%;
  background-image: url('../../styles/img/splash.jpg');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  .splashchild {
    position: relative;
    left: 10%;
    top: 32%;
    width: 300px;
  }
  .loginError {
    position: relative;
    left: 13%;
    top: 33%;
    width: 300px;
    color: #dd748e;
    font-size: 14px;
    height: 20px;
    margin: 0;
  }
  .name {
    font-size: 25px;
  }
  .login {
    display: block;
    background-color: #dd748e;
    color: #fff;
    width: 160px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    margin: 30px  0 30px 0;
  }
  .register {
    display: block;
    background-color: #fff;
    padding: 10px 0;
    color: #dd748e;
    width: 160px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #dd748e;
  }
  form {
    position: relative;
    left: 10%;
    top: 32%;
    height: 200px;
    width: 300px;
    label {
      display: block;
    }
    p {
      margin-left: 150px;
    }
    .submit {
      font-size: 16px;
      padding: 6px 50px;
      background-color: #dd748e;
      border-radius: 5px;
      color: #fff;
      border: none;
      text-align: center;
      margin: 20px 0 0 50px;
    }
    .id {
      font-size: 16px;
      margin: 60px 0 30px 0;
      input {
        margin-left: 20px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
      }
      input:focus {
        outline-color: #dd748e;
      }
    }
    .password {
      font-size: 16px;
      margin: 30px 0 10px 0;
      input {
        margin-left: 20px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
      }
      input:focus {
        outline-color: #dd748e;
      }
      
    }
  }
}
.ant-modal-footer {
  text-align: center;
  border-top: none;
  padding-bottom: 20px;
}

.ant-btn{
  // background-color: #dd748e;
  border-color: #dd748e;
  color: #dd748e;
  &:hover{
    // background-color: rgba(183, 108, 128, 0.6);
    border-color: #dd748e;
    color: #dd748e;
  }
  &:active, &.active, &:focus{
    border-color: #dd748e;
    color: #dd748e;
  }
}
.ant-btn-primary  {
  background-color: #dd748e;
  border-color: #dd748e;
  color: #fff;
  &:hover{
    background-color: rgba(183, 108, 128, 0.6);
    border-color: rgba(183, 108, 128, 0.6);
    color: #fff;
  }
  &:active, &.active, &:focus{
    background-color:transparent;
    border-color: #dd748e;
    color: #dd748e;
  }
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
  color: #dd748e;
}
.ant-tabs-tab:hover{
  color: #dd748e!important;
}
.ant-modal-body {
  height: 150px;
}
.loginButton {
  width: 100px;
}
