@import '~antd/dist/antd.css';

.splash {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  min-height: 800px;
  background-image: url('../../styles/img/splash.jpg');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  .splashchild {
    position: relative;
    left: 19%;
    top: 32%;
    width: 300px;
    margin: 0;
  }
  .splashmid {
    position: relative;
    left: 13%;
    top: 32%;
    margin: 0;
    width: 400px;
    .login {
      display: inline-block;
      background-color: #dd748e;
      color: #fff;
      width: 160px;
      padding: 10px 20px;
      border-radius: 4px;
      text-align: center;
      margin: 100px  60px 60px 0;
    }
    .register {
      display: inline-block;
      background-color: #fff;
      padding: 10px 0;
      color: #dd748e;
      width: 160px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #dd748e;
    }
  }
  .loginError {
    position: relative;
    left: 24%;
    top: 34%;
    width: 300px;
    color: #dd748e;
    font-size: 14px;
    height: 20px;
    margin: 0;
  }
  .name {
    font-size: 30px;
  }
  form {
    position: relative;
    left: 18%;
    top: 28%;
    height: 200px;
    width: 300px;
    label {
      display: block;
    }
    .loginname {
      margin: 70px 0 0 15px;
      span {
        margin-right: 25px;
      }
      input {
        width: 180px;
      }
    }
    .loginpass {
      margin: 0 0 0 15px;
      span {
        margin-right: 25px;
      }
      input {
        width: 180px;
      }
    }
    p {
      margin: -15px 0 10px 150px;
      cursor: pointer;
      text-align: center;
      padding-right: 14px;
      color: #cacaca;
    }
    .logininput {
      width: 230px;
    }
    .submit {
      font-size: 16px;
      padding: 6px 50px;
      background-color: #dd748e;
      border-radius: 5px;
      color: #fff;
      border: none;
      text-align: center;
      margin: 20px 0 0 50px;
    }
    .id {
      font-size: 16px;
      margin: 60px 0 30px 0;
      input {
        width: 230px;
        margin-left: 20px;
        border-radius: 5px;
      }
    }
    .password {
      font-size: 16px;
      margin: 30px 0 10px 0;
      input {
        width: 230px;
        margin-left: 20px;
        border-radius: 5px;
      }
      input:active {
        outline: #dd748e;
      }
    }
    .loginsubmit {
      text-align: center;
      button {
        width: 130px;
        height: 36px;
        margin-top: 40px;
        margin-right: 30px;
      }
    }
  }
}
.ant-modal-footer {
  text-align: center;
  border-top: none;
  padding-bottom: 20px;
}

.ant-btn{
  // background-color: #dd748e;
  border-color: #dd748e;
  background-color: #ffffff;
  color: rgba(211, 116, 142, 1);
  &:hover{
    border-color: rgba(211, 89, 120, 1);
    color: rgba(211, 89, 120, 1);
  }
  &:active, &.active, &:focus{
    border-color: #dd748e;
    color: #dd748e;
  }
}
.ant-btn-primary  {
  // background-color: #dd748e;
  background-color: rgba(211, 116, 142, 1);
  border-color: #dd748e;
  color: #fff;
  &:hover{
    background-color: rgba(211, 89, 120, 1);
    color: #fff;
  }
  &:active, &.active, &:focus{
    background-color: rgba(211, 89, 120, 1);
    background-color: rgba(211, 89, 120, 1);
    color: #fff;
  }
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
  color: rgba(211, 89, 120, 1);
}
.ant-tabs-tab:hover{
  color: #dd748e!important;
}
.ant-modal-body {
  height: 150px;
}
.ant-card-head{
  border: none;
  .ant-card-head-wrapper{
    border-bottom: 1px solid #f2f2f2;
  }
}
.loginButton {
  width: 100px;
}
.ant-input, .ant-select-selection{
  &:hover{
    border-color: #dd748e;
  }
  &:focus{
    border-color: #dd748e;
    box-shadow: 0 0 0 2px rgba(211, 89, 120, 0.2);
  }
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
  background-color: #dd748e;
  border-color: #dd748e;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
  border-color: #dd748e!important;
}
.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
  color: #dd748e
}
.ant-radio-button-wrapper-checked{
  border-color: #dd748e;
  color: #fff;
  background: #dd748e;
  box-shadow: -1px 0 0 0 #dd748e;
  &::before{
    background-color: #dd748e !important;
  }
  &:first-child{
    border-color: #dd748e;
  }
  &:hover{
    border-color: #dd748e;
    color: #fff;
    box-shadow: -1px 0 0 0 #dd748e;
  }
}

.registerForm {
  .ant-form-explain {
    position: relative;
    top: -30px;
    left: 300px;
  }
}