.registerOut {
  height: 100%;
  .register {
    height: 100%;
    background-color: #fff;
    margin: 15px 50px 0 50px;
    header {
      display: flex;
      justify-content: center;

      span {
        font-size: 20px;
        background-color: #fff;
        color: #c4c4c4;
        padding: 42px 30px 29px 30px;

      }
      .registerActive {
        z-index: 10;
        border-bottom: 2px solid #f03a80;
        color: #f03a80;
      }
    }
    hr {
      position: relative;
      top: -8px;
      border: none;
      border-bottom: 1px solid #c3c3c3;
      margin: 7px 400px;
    }
    form {
      label {
        display: flex;
        justify-content: center;
      }
      .submit {
        margin: 0 auto;
        display: block;
      }
    }
    .registerSuccess {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: calc(100% - 30px);
      img {
        width: 80px;
      }
      div {
        text-align: center;
      }
      .p1 {
        margin: 30px 0;
        font-size: 20px;
      }
      .p2 {
        color: #c3c3c3;
      }
    }
  }
}
