html {
  .bs-info-box{
    background: #fff;
    padding: 20px 34px 50px;
  }
  .cotent-title{
    // width: 200px;
    text-align: right;
    max-width: 200px;
  }
  .describe{
    color: #ccc;
  }
  .row-box{
    margin: 44px 0;
  }
}