
  .header{
    height: 40px;
    background-color: black;
  }

  .navigation {
    display: flex;
    div {
      padding: 20px 10px;
      margin: 0 30px;
      font-size: 17px;
      a {
        color: #4a4a4a;
      }
    }
    .active {
      a {
        color: #f03a80;
      }
      border-bottom: 1.5px solid #f03a80;
    }
  }
