@content-left:30px;
html{
  .status-container{
    .tab1, .tab2{
      .ant-upload-list-picture-card .ant-upload-list-item{
        margin-left: @content-left;
        width: 304px;
        height: 214px;
      }
      
    }
    .tab1{
      .btn-box{
        margin-top: 200px;
        padding-bottom: 5px;
      }
      .ant-upload.ant-upload-select-picture-card{
        margin-top: 171px;
        margin-left: @content-left;
        height: auto;
        border: none;
        background: transparent;
      }
    }
    .tab2{
      .ant-upload.ant-upload-select-picture-card{
        position: absolute;
        left: 0;
        bottom: 0;
        border: none;
        height: auto;
        .ant-upload{
          background-color: transparent;
          padding: 0;
          text-align: left;
          .ant-btn{
            width: 100%;
            max-width: 150xp;
          }
        }
      }
    }
  }
  .ant-modal-body{
    height: auto;
  }
}