.page{
  height: 100%;
  padding:28px 85px 85px;

  .leftMenu{
    height: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding:20px 0;
  }

  .content{
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
}

.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: auto;
  line-height: 110px;
  .header{
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: black;
  }
  // .section{
  //   background-color: #fff;
  .logo {
    img {
      display: inline-block;
      width: 131px;
      margin-left: 40px;
    }
  }
  .content {
    display: inline-block;
    margin-left: 24px;
    margin-bottom: 0;
    color: #4a4a4a;
    font-size: 17px;
  }
  // }
}

